<div class="container">

  <!--Navbar-->
  <section>
    <nav>
      <ul>
        <li><strong>Travel Buddy </strong><img width="50" height="auto" src="../assets/travel.png"></li>
      </ul>
      <ul>
        <div *ngIf="!this.isLoggedIn">
          <li>
            <input #username type="text" id="username" name="username" placeholder="Username">
          </li>
          <li>
            <input #password type="password" id="password" name="password" placeholder="Password">
          </li>
          <li>
            <button type="submit" role="button" (click)="login(username.value, password.value)" attr.aria-busy="{{this.isLoggingIn}}"> Login</button>
          </li>
          <li>
            <button type="submit" role="button" (click)="register(username.value, password.value)" attr.aria-busy="{{this.isRegistering}}">Register</button>
          </li>
        </div>
        <div *ngIf="this.isLoggedIn">
          <li>
            <input type="text" value="Hello, {{this.username}}" readonly>
          </li>
          <li>
            <button type="submit" role="button" (click)="logout()" attr.aria-busy="{{this.isLoggingIn}}">Logout</button>
          </li>
        </div>
      </ul>
    </nav>
  </section>

  <!--Destination List-->
  <div *ngIf="this.isLoggedIn">
    <section>
      <nav>
        <ul>
          <li>
            <input #country type="text" id="country" name="country" placeholder="Country">
          </li>
          <li>
            <input #region type="text" id="region" name="region" placeholder="Region">
          </li>
          <li>
            <input #city type="text" id="city" name="city" placeholder="City">
          </li>
          <li>
            <button type="submit" role="button" class="outline" (click)="createNewDestination(country.value, region.value, city.value)" attr.aria-busy="{{this.isCreating}}">Create</button>
          </li>
          <li>
            <button type="submit" role="button" class="secondary outline" (click)="loadDestinationsForUser()" attr.aria-busy="{{this.isLoading}}">Reload</button>
          </li>
        </ul>
      </nav>
    </section>
  
    <section>
      <ul *ngFor="let destination of destinations;">
        <details>
          <summary (click)="getMatchingsForDestination(destination)">
            <nav>
              <ul>
                <li>
                  <strong *ngIf="destination.country">{{destination.country}}</strong>
                  <strong *ngIf="destination.region">-{{destination.region}}</strong>
                  <strong *ngIf="destination.city">-{{destination.city}}</strong>
                </li>
                <li>
                  <button type="submit" 
                          role="button" 
                          class="contrast outline" 
                          (click)="deleteDestination(destination.id)" 
                          attr.aria-busy="{{this.isDeleting && this.deletingId === destination.id}}">Delete</button>
                </li>
              </ul>
            </nav>
          <!-- Matching List -->
          </summary>
              <ul *ngFor="let match of matchings.get(destination)">
                <strong *ngIf="match.country">{{match.country}}</strong>
                <strong *ngIf="match.region">-{{match.region}}</strong>
                <strong *ngIf="match.city">-{{match.city}}</strong>
                <p> from User {{match.user}}</p>
              </ul>     
        </details>
      </ul>
    </section>
  </div>

</div>
